@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    color: rgb(7, 77, 77);
    background-color: antiquewhite;
    font-family: 'Lora', serif;
}

/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 1.5px;
    background: rgb(7, 77, 77);
    display: block;
    margin: auto;
    border-radius: 1rem;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

/* Home Page */

.home-page {
    text-align: center;
    margin: 2% 0;
}

.logo {
    width: 9%;
    border-radius: 50%;
    margin-top: 1%;
}

.heading {
    font-size: 28px;
    font-weight: bold;
}

.sub-heading {
    font-size: 16px;
    font-style: italic;
}

/* Intro Section */

section {
    width: 85%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.intro-img {
    width: 100%;
    box-shadow: 3px 3px 10px #888,
        -3px -3px 10px #888;
}

main {
    width: 64%;
}

aside {
    width: 25%;
    box-shadow: -1px -1px 10px #888;
    padding: 2rem;
}

aside h5,
.card h1 {
    text-align: left;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: cadetblue;
    font-style: italic;
}

aside h1 {
    text-align: left;
    padding: 1rem 0;
    font-size: 2.5rem;
}

aside p,
.card p {
    text-align: left;
    padding: 1rem 0;
    font-size: 1.2rem;
}

button {
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: cadetblue;
    color: #ffffff;
    border: 1px solid cadetblue;
    cursor: pointer;
}

/* ----------Latest Posts---------- */
hr {
    width: 42%;
    background-color: cadetblue;
    box-shadow: 3px 3px 10px #888,
        -3px -3px 10px #888;
}

.horizontal-heading,
.cards {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.homecard {
    margin: 1.5rem;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.homecard h1 {
    text-decoration: underline;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.card-image {
    width: 100%;
}

.homecard a {
    color: #ffffff;
    text-decoration: none;
}

/* BlogList */
.blog-list {
    padding: 2% 9%;
    text-align: center;
}

.blog-list h1 {
    margin: 0 0 2%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid cadetblue;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-excerpt {
    margin-bottom: 15px;
}

.card-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.card-link:hover {
    text-decoration: underline;
}


/* BlogPost */
.blog-post {
    padding: 2% 9%;
    text-align: center;
}

.blog-post h1 {
    margin: 0 0 2%;
}

.blog-post p {
    margin: 0 0 2%;
}

.blog-post img {
    width: 50%;
}


/* Footer */
.Footer {
    width: 85%;
    margin: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid cadetblue;
    padding: 2rem;
}

h3 {
    padding-bottom: 1rem;
}

.sec-1 {
    padding-right: 4rem;
}

.sec-1 a {
    line-height: 1.7rem;
    font-size: 1.2rem;
    letter-spacing: 1.1px;
    color: cadetblue;
}

.sec-2 p {
    font-size: 1.2rem;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 100%;
    margin: 0 0.8rem 0 0;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: 2px solid cadetblue;
    transition: 0.5s;
}

input::placeholder {
    color: cadetblue;
}

input:focus {
    border: 2px solid rgb(26, 181, 187);
    color: cadetblue;
}

.Footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
}

@media(max-width: 700px) {
    * {
        padding: 0;
        margin: 0;
        outline: none;
        color: rgb(7, 77, 77);
        font-family: 'Lora', serif;
    }

    /* ----------Logo---------- */

    .logo {
        width: 20%;
        border-radius: 50%;
    }

    /* ----------Intro Section---------- */

    section {
        width: 90%;
        height: 31.8rem;
        display: block;
        margin: 1rem auto;
        padding: 1rem 0;
    }

    .intro-img {
        width: 100%;
    }

    main {
        width: 100%;
    }

    aside {
        width: 90%;
        border: 2px solid cadetblue;
        padding: 1rem;
    }

    aside h5,
    .card h1 {
        font-size: 1rem;
        padding: 0;
    }

    aside h1 {
        padding: 0;
        font-size: 2rem;
    }

    aside p,
    .card p {
        text-align: left;
        font-size: 1rem;
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    /* ----------Latest Posts---------- */

    hr {
        width: 25%;
    }

    .horizontal-heading {
        width: 100%;
        margin: 2rem auto 0;
        font-size: 1rem;
    }

    .cards {
        width: 100%;
        display: block;
    }

    .homecard h1 {
        font-size: 1.2rem;
        letter-spacing: 0.8px;
        line-height: 1.6rem;
        padding-bottom: 0.5rem;
    }

    .card-image {
        width: 100%;
    }

    /* ----------Footer---------- */
    .Footer {
        width: 90%;
        margin: auto;
    }

    .footer {
        display: block;
        padding: 1rem;
    }

    .footer h3 {
        padding: 1rem 0 0.5rem;
        font-size: 1rem;
    }

    .sec-1 a {
        line-height: 1.5rem;
        font-size: 1rem;
        letter-spacing: 1px;
        color: cadetblue;
    }

    .sec-2 p {
        font-size: 1rem;
    }

    form {
        display: block;
        width: 80%;
    }

    input {
        width: 100%;
        margin: 1rem 0 0;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        border: 2px solid cadetblue;
        transition: 0.5s;
    }

    .Footer-content p {
        display: block;
        font-size: 0.9rem;
    }
}